.rightsection {
    display: flex;
    margin: 2rem 1rem;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 9px 21px -6px rgba(0,0,0,0.75);
    width: 100%;
    height: 55rem;
}

.rightsection__empty {
    display: flex;
    flex: 1.5;
}

.rightsection__calender {
    padding: 1rem;
}