
hr {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 75%;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    margin-bottom: 20px;
}

.clubinfo__item {
    display: flex !important; 
    flex-direction: column;
    justify-content: center;
    align-items: center !important  ;
    margin: 40px 0;  
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 6px 14px -4px rgba(0,0,0,0.75);
    width: 100%;
}

.clubs__achievements__cards {
    width: 100%;
    max-width: 100% !important;
    padding: 0 6rem;
    margin: 4rem;
}

.clubinfo__join{
    margin: 40px 0;  
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
    width: 100%;
    
}

.MuiPaper-root {
    padding: 0;
}