
.resource__title {


background-color: #eff2f5;
padding: 5px 2px;
margin: 2.5px 10px;
    
width: 100%; 


}

.resource__imgUrl {
    background-color: #eff2f5;
    padding: 5px 2px;
    margin: 2.5px 10px;
        
    width: 100%; 
    

}

.resource__description {
    outline-width: 0;
    border: none;
    background-color: #eff2f5;
    padding: 5px 2px;
    margin: 2.5px 10px;
        
    width: 100%; 
    height: 100%;
}

.resource__add__items {
    margin-bottom: 0.4rem;
    width: 100%;
}